## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

## MacOS
.DS_Store
/app/dime.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/CLAUDE.md
/cursor.md
/.idea/.gitignore
/.idea/dimeApp.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
